<div class="footer">
  <div class="container text-center">

 <hr class="style-eight">
        <div class="">
        <ul class="list-inline">
          <li class="list-inline-item"> <a class="" href="" data-toggle="modal" data-target=".bd-example-modal-lg">  Terms & Conditions</a></li>
            <li class="list-inline-item"> <a href="">Promotion Terms & Conditions</a></li>
            <li class="list-inline-item"> <a href="">Privacy</a></li>
            <li class="list-inline-item"> <a href="">Contact</a></li>
            <li class="list-inline-item"> <a href="">Faq</a></li>
        </ul

        </div>

      <div class="copyright"> &#9400;	2014 - <%=Time.now.strftime('%G')%> sassltd</div>

  </div>


  <!-- Modal -->

</div>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content text-dark p-4">

        <h1 class="text-center">TERMS & CONDITIONS</h1>

        <hr>
      <p>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel dolorum eum labore porro officia molestiae, neque voluptas eos consequatur explicabo aliquam nesciunt similique temporibus perferendis quam commodi perspiciatis provident maxime!</span><span>Facere explicabo hic non dolor voluptatibus beatae, itaque voluptatum asperiores alias aliquam aut reiciendis molestiae velit delectus perferendis corporis blanditiis voluptates earum veritatis. Soluta iste, error maiores dolor nobis consectetur!</span>
      </p>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>

  </div>
</div>
