<div class="footer">
  <div class="container text-center">

 <hr class="style-eight">
        <div class="">
        <ul class="list-inline">
          <li class="list-inline-item"> <a href="">  Terms & Conditions</a></li>
            <li class="list-inline-item"> <a href="">Promotion Terms & Conditions</a></li>
            <li class="list-inline-item"> <a href="">Privacy</a></li>
            <li class="list-inline-item"> <a href="">Contact</a></li>
            <li class="list-inline-item"> <a href="">Faq</a></li>
        </ul

        </div>

      <div class="copyright"> &#9400;	2014 - <%=Time.now.strftime('%G')%> sassltd</div>

  </div>
</div>
