 <div class=" container-fluid top-header border-bottom">
  <div class="container">
    <div class="d-flex justify-content-between border-bottom-0 border-right-0 border-left-0 text-center">
      <div class="border-right p-2"> Email <br> info@sassltd.com</div>
      <div class="border-right p-2"> Adddress <br> 89 Barclay street Leicester</div>
      <div class="p-2"> Tel <br> +110254885</div>
    </div>
  </div>
</div>

<div class="container p-4 mt-3">

  <div class="row">
    <div class="col-sm"><div class=""><%=image_tag('logo.png',size:"80")%></div></div>
    <div class="col-sm  align-self-center">
      <div class="form-group">
        <select class="form-control" id="exampleFormControlSelect1" placeholder="search Products">
          <option>Search Products</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select></div>
      </div>
      <div class="col-sm align-self-center pb-3"><button type="button" class="btn btn-info">Search</button></div>
    </div>
</div>





<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top" style="background-color:#d35400;"> -->
<!-- <nav class="navbar navbar-expand-sm  sticky-top" style="background-color: #2c3e50;">-->



<nav class="navbar yamm navbar-expand-sm  sticky-top justify-content-center" style="background-color: #2c3e50;">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between align-items-center w-100" id="navbarSupportedContent">
    <ul class="navbar-nav  mx-auto text-center">

      <li class="first dropdown yamm-fw">
                         <a href="#" title="" class="dropdown-toggle nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">products<b class="caret"></b></a>
                         <!--Wayfinder.innerTpl -->
                         <ul class="dropdown-menu ">

                             <!-- Yamm start tags -->
                             <li>
                                 <div class="yamm-content">
                                     <div class="row d-flex  justify-content-center">
                                         <dl class="col-sm-3 mega-menu">
                                             <dt class=""><a href="#">Level 2 container</a></dt>

                                             <dd class="first"><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd class="last"><a href="#">Child on level 3</a></dd>


                                         </dl>
                                         <dl class="col-sm-3 mega-menu">
                                             <dt class=""><a href="#">Level 2 container</a></dt>

                                             <dd class="first"><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd class="last"><a href="#">Child on level 3</a></dd>


                                         </dl>
                                         <dl class="col-sm-3 mega-menu">

                                             <dt class=""><a href="#">Level 2 container</a></dt>
                                             <dd class="first"><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>

                                             <dd class="last"><a href="#">Child on level 3</a></dd>
                                         </dl>
                                         <dl class="col-sm-3 mega-menu">
                                             <dt class=""><a href="#">Level 2 container</a></dt>
                                             <dd class="first"><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd><a href="#">Child on level 3</a></dd>
                                             <dd class="last"><a href="#">Child on level 3</a></dd>
                                         </dl>
                                     </div>
                                 </div>
                             </li>
                             <!--yamm end tags-->
                         </ul>
                     </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Supply/Distribution</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
