<div class="container p-4">

<div class="row justify-content-center">
  <div class="col-8">

    <div class="card p-4">

      <%=render 'form'%>
    </div>
  </div>
  <div class="col-3">
    <div class="card">
      <h5 class="text-center">
        Address
      </h5>

      <p class="p-2 text-center">some address</p>
    </div>
    <div class="card">
      <h5 class="text-center">
        Tel
      </h5>

      <p class="p-2 text-center">123466789</p>
    </div>
    <div class="card">
      <h5 class="text-center">
        Email
      </h5>

      <p class="p-2 text-center">email@email.com</p>
    </div>


  </div>

</div>
</div>
